<h1 align="center">Лабораторная работа №1</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<p><b>Тема:</b> Установка системы VMware Workstation</p>
			<p><b>Цель:</b> Научиться устанавливать систему VMware Workstation</p>
			<p><b><ul>Выполнив эту работу, вы узнаете:</b></p>
			<li>как устанавливать систему VMware Workstation</li></ul>

			<p><b><ul>Выполнив эту работу, вы научитесь:</b></p>
			<li>устанавливать систему VMware Workstation</li></ul>

			<p><b><ul>Требования к условиям работы:</b></p>
			<li>компьютер с установленной операционной системой Windows</li>
			<li>дистрибутив  VMware Workstation</li></ul>

			<h3>Описание программного продукта:</h3>
			<ul>VMWare Workstation – самый младший из продуктов в линейке виртуальных машин фирмы VMWare. Если расположить их в порядке убывания стоимости и сложности внутреннего устройства, то получится такая цепочка VMWare GSX Server, VMWare ESX Server, VMWare Workstation. В качестве основной операционной системы пока можно использовать только Linux и Windows. Ниже представлен список рекомендуемых операционных систем, которые могут использоваться как основная операционная система:
			<li>Mandrake Linux 8.2, 9.0</li>
			<li>Red Hat Advanced Server 2.1</li>
			<li>Red Hat Linux 7.0, 7.1, 7.2, 7.3, 8.0</li>
			<li>SuSe Linux Enterprise Server 7,8</li>
			<li>SuSe Linux 7.3, 8.0, 8.1</li>
			<li>Windows Server 2003 Web Edition RC2, Standard Edition RC2 , Enterprise Edition RC2</li>
			<li>Windows XP Professional, Home Edition</li>
			<li>Windows 2000 Professional, Server, Advanced Server</li>
			<li>Windows NT Workstation 4.0, Server 4.0, Terminal Server Edition 4.0 – все с сервиспаком 6</li></ul>
			<ul>В следующем списке представлены операционные системы, рекомендуемые для запуска в  виртуальной машине VMware Workstation, называемые «гостевыми»:
				<li>Windows Server 2003 Web Edition RC2, Standard Edition RC2, Enterprise Edition RC2</li>
				<li>Windows 2000 Professional, Server, Advanced Server</li>
				<li>Windows XP Professional, Home Edition</li>
				<li>Windows NT Workstation 4.0, Server 4.0, Terminal Server Edition 4.0</li>
				<li>Windows 3.1, 3.11, 95, 98, 98 SE, ME</li>
				<li>Red Hat Linux 7.0, 7.1, 7.2, 7.3, 8.0</li>
				<li>Linux Mandrake 8.2, 9.0</li>
				<li>SuSe Linux 7.3</li>
				<li>SuSe Linux Enterprise Server 7.0, 8.0, 8.1</li>
				<li>Turbolinux Server 7.0, 8.0</li>
				<li>Turbolinux Workstation 8.0</li>
				<li>Microsoft MS-DOS 6.x</li>
				<li>FreeBSD 4.0-4.6.2, 4.8</li>
				<li>Novell Netware 5.1, 6</li>
			</ul>

			<h3>Ход работы:</h3>
			1. Нажмите на кнопку Пуск на панели задач Windows<br>
			2. Выберите в меню пункт Выполнить.<br>
			3. В открывшемся диалоговом окне Запуск программы в поле Открыть: введите полный путь к исполняемому файлу программы установки; например (если программа устанавливается с диска D) строку D:\ VMware-workstation-4.5.2-8848.exe<br>
			4. Нажмите на кнопку OK.
			<p>Процедура установки состоит из последовательности шагов, о выполнении каждого из которых сообщает соответствующее диалоговое окно. Вы можете перейти к следующему шагу процедуры (если это возможно), нажав на кнопку Next, вернуться к предыдущему шагу (если это возможно), нажав на кнопку Back, или прервать выполнение процедуры установки, нажав на кнопку Cancel.</p>
			5. После этого на экране появится диалоговое окно: будет выдано предупреждение о начале процесса установки. Нажмите на кнопку Next
			<center><%= image_tag("image001.png") %></center>
			6. После чего на экране появится диалоговое окно ознакомления с  Лицензионным Соглашением
			<center><%= image_tag("image003.png") %></center>
			7. Для возможности продолжения установки VMware Workstation согласитесь с Лицензионным Соглашением и нажмите Next.
			<center><%= image_tag("image003.png") %></center>
			8. В  диалоговом окне,  укажите каталог, в котором будут размещаться компоненты системы VMware Workstation. Имя этого каталога задается по умолчанию.
			<center><%= image_tag("image005.png") %></center>
			9. Окно подтверждения установки станет, последним этапом установки VMware Workstation для начала установки нажмите Install.
			<center><%= image_tag("image007.png") %></center>
			10. В процессе установки на предложение поиска и реорганизации образов, оставшихся от более ранних версий VMware Workstation нажать NO
		</td>

			



	</tr>
